<div data-list-movies-target="list">
  <p class="h3">
    <% if params[:query].blank? %>
      <%= t('.search_available_movies_count', count: movies.count) %>
    <% else %>
      <%= pluralize movies.count, "result" %> for <code><%= params[:query] %></code>
    <% end %>
  </p>
  <div class="movies">
    <% movies.each do |movie| %>
      <%= render "movie_infos", movie: movie %>
    <% end %>
  </div>
</div>
